Source: aws-iot-securetunneling-localproxy
Maintainer: James Eitzmann <james@lookdeep.health>
Section: misc
Priority: optional
Standards-Version: 4.6.2
Build-Depends:
 debhelper (>= 13),

Package: localproxy
Architecture: arm64 amd64
Depends: 
Description: Example C++ implementation of a local proxy
 for the AWS IoT Secure Tunneling service.
