#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	# Skip configure - using pre-built binary

override_dh_auto_build:
	# Skip build - using pre-built binary

override_dh_auto_test:
	# Skip tests - using pre-built binary

override_dh_auto_install:
	# Skip auto install - handled by .install files


# Binary-only packaging of a foreign-arch (arm64) prebuilt: host strip/shlibdeps
# can't process it; deps are deliberately empty (static boost/protobuf).
override_dh_strip:

override_dh_shlibdeps:

override_dh_makeshlibs:
